# Starter pipeline
trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

name: 1.0.$(myBuildCounter)
variables:
  myBuildCounter: $[counter('buildCounter',1)]
  imageName: terraform-test 
  releaseVersion: 1.0.$(myBuildCounter)
  
steps:
- script: |
    docker build -t $(imageName) .
  displayName: 'Build image docker'

- script: |
    docker run -e ARM_CLIENT_ID=$(spClientId) -e ARM_CLIENT_SECRET=$(spClientSecret) -e ARM_SUBSCRIPTION_ID=$(spSubscriptionId) -e ARM_TENANT_ID=$(spTenantId) $(imageName)
  env:
    ARM_CLIENT_ID: $(spClientId)
    ARM_CLIENT_SECRET: $(spClientSecret)
    ARM_SUBSCRIPTION_ID: $(spSubscriptionId)
    ARM_TENANT_ID: $(spTenantId)
  displayName: 'Run docker test'

- task: GitHubRelease@0
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
    gitHubConnection: 'GitHub edalferes'
    repositoryName: 'edalferes/terraform-azure-recources'
    action: 'create'
    tagSource: manual
    tag: $(releaseVersion)
    addChangeLog: true
    assets: |
      $(Build.ArtifactStagingDirectory)/README.md
      $(Build.ArtifactStagingDirectory)/CHANGELOG.md

