# Starter pipeline

trigger:
- develop

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: terraform-test  # Replace with the name of the image you want to publish

steps:
- script: |
    docker build -t $(imageName) .
  displayName: 'Build image docker'

- script: |
    docker run $(imageName) -e ARM_CLIENT_ID=$(spClientId) -e ARM_CLIENT_SECRET=$(spClientSecret) -e ARM_SUBSCRIPTION_ID=$(spSubscriptionId) -e ARM_TENANT_ID=$(spTenantId)
  displayName: 'Run docker test'