# Starter pipeline

trigger:
- develop
- master


pool:
  vmImage: 'Ubuntu-16.04'

name: 1.0.$(myBuildCounter)
variables:
  imageName: terraform-test 
  myBuildCounter: $[counter('buildCounter',1)]

steps:
- script: |
    docker build -t $(imageName) .
  displayName: 'Build image docker'

- script: |
    docker run -e ARM_CLIENT_ID=$(spClientId) -e ARM_CLIENT_SECRET=$(spClientSecret) -e ARM_SUBSCRIPTION_ID=$(spSubscriptionId) -e ARM_TENANT_ID=$(spTenantId) $(imageName)
  env:
    ARM_CLIENT_ID: $(spClientId)
    ARM_CLIENT_SECRET: $(spClientSecret)
    ARM_SUBSCRIPTION_ID: $(spSubscriptionId)
    ARM_TENANT_ID: $(spTenantId)
  displayName: 'Run docker test'

- task: GitHubRelease@0
  inputs:
    gitHubConnection: 'GitHub edalferes'
    repositoryName: 'edalferes/terraform-azure-recources'
    action: 'create'
    tagSource: manual
    tag: 1.0.$(myBuildCounter)      
    assets: |
         $(Build.ArtifactStagingDirectory)/README.md