# Starter pipeline
trigger:
- master
- develop

pool:
  vmImage: 'Ubuntu-16.04'

name: $(Build.BuildNumber)
variables:
  imageName: terraform-test
  
steps:

  - task: ShellScript@2
    displayName: Bootstrap
    inputs:
      scriptPath: .ci_cd/build_file_version.sh
      args: $(Build.SourceBranchName) $(Build.BuildId)

  - task: Bash@3
    displayName: SetEnvironment
    inputs:
      targetType: inline
      script: |
        version=$(cat VERSION)
        echo "##vso[task.setvariable variable=version;]${version}"
        echo "##vso[build.addbuildtag]${version}"
        echo "##vso[build.updatebuildnumber]${version}"

  - task: Bash@3
    displayName: 'Build image docker'
    inputs:
      targetType: inline
      script: docker build -t $(imageName) .

  - task: Bash@3
    displayName: 'Run docker test'
    inputs:
      targetType: inline
      script: docker run -e ARM_CLIENT_ID=$(spClientId) -e ARM_CLIENT_SECRET=$(spClientSecret) -e ARM_SUBSCRIPTION_ID=$(spSubscriptionId) -e ARM_TENANT_ID=$(spTenantId) $(imageName)
    env:
      ARM_CLIENT_ID: $(spClientId)
      ARM_CLIENT_SECRET: $(spClientSecret)
      ARM_SUBSCRIPTION_ID: $(spSubscriptionId)
      ARM_TENANT_ID: $(spTenantId)

  - task: GitHubRelease@0
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
    inputs:
      gitHubConnection: 'edalferes-access-token'
      repositoryName: 'edalferes/terraform-azure-hefesto'
      action: 'create'
      tagSource: manual
      tag: $(version)
      addChangeLog: true
      assets: |
        $(Build.ArtifactStagingDirectory)/README.md
        $(Build.ArtifactStagingDirectory)/CHANGELOG.md

